/* .App{
    text-align: center;
}

h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
td , th{
    border: 2px solid black;
}
tab > table{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} */